<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" providerName="System.Data.SqlClient"  connectionString="database=turfnet;server=(local)\SQLEXPRESS;User Id=turfnet;Password=turfnet;" />
		<add name="TurfContext" providerName="System.Data.SqlClient"  connectionString="database=turfnet;server=(local)\SQLEXPRESS;User Id=turfnet;Password=turfnet;" />
		<add name="RepoEF" providerName="System.Data.SqlClient"
				 connectionString="Server=tcp:a67uhv1aza.database.windows.net,1433;Database=ReactiveDatabase;User ID=meirinhos@a67uhv1aza;Password=5wbz40L99300n05;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		
	</entityFramework>
</configuration>

