html, body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding:0;
}


body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
}

h1, p {
  color: #333;
}

#controls {
  height: 8%;
  width: 98%;
  margin-bottom: 24px;
  margin:1%;
}

#map {
  width: 100%;
  height: 100%;
}

#map_container {
  border 1px gray solid;
  overflow: visible;
  height: 86%;
  width:62%;
  margin:1%;
  min-width: 400px;
  min-height: 400px;
  float: left;
}

#right_container {
  float: left;
  width: 31%;
  height: 86%;
  margin: 1%;
  min-width: 200px;
  min-height:400px;
  overflow: visible;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}


#console_container {
  float: left;
  height: 100%;
  width: 100%;
}

#console_header {
  height: 30%;
  width: 100%;
  float: left;
}

#console {
  height: 70%;
  width: 100%;
  overflow:scroll;
  float: left;
}

#consoleFilter, #consoleSearch {
  width: 60%;
  float: right;
  margin-right:5%;
}
















.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}
